<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hueyappan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
				<key>dateExpires</key>
				<string>16/06/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>101.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_ringtone_player.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>screenshot_callback.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlite3.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>3.52.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlite3_flutter_libs.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7F84D622DBA5D6AA626E97A5727EBFE279622B48</string>
						<key>dateExpires</key>
						<string>16/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SKYD23YRT4</string>
						<key>name</key>
						<string>Vladimir Gutierrez</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SKYD23YRT4.com.conventohueyapan.hueyappanv1</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>SKYD23YRT4</string>
				<key>com.apple.developer.usernotifications.critical-alerts</key>
				<true/>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>85f6e60a-4f8b-4173-85c1-4aedb80f436a</string>
				<key>dateExpires</key>
				<string>16/06/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.conventohueyapan.hueyappanv1</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SKYD23YRT4</string>
				<key>name</key>
				<string>Vladimir Gutierrez</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
